@import "@/styles/init";

.appbar {
  background-color: map-get($theme-colors, tertiary);
  border-radius: 20px;

  img {
    width: 166px;
    height: 40px;
  }

  &__links {
    a {
      margin-right: 32px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }
}
