// Styles to over-ride Bootstrap.
// see: https://getbootstrap.com/docs/5.2/utilities/flex/ for more utilities.

.container-fluid {
  @include px(3);
  max-width: to-rem(2400);

  @include media-breakpoint-up(sm) {
    @include px(5);
  }

  @include media-breakpoint-up(lg) {
    @include px(8);
  }

  @include media-breakpoint-up(xxl) {
    @include px(10);
  }

  // We over-ride the global .row padding.
  .row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;

    @include media-breakpoint-up(lg) {
      --bs-gutter-x: 1.5rem;
    }
    @include media-breakpoint-up(xxl) {
      --bs-gutter-x: 2rem;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}


// Custom components for the layout.
.panel {
  border-radius: 20px;
  padding: 24px;
  height: 100%;
  overflow-y: auto;

  &-search,
  &-question,
  &-percentage,
  &-gift,
  &-dark {
    background-color: $color-dark-gray;
  }

  &-search {
    background-image: url(../assets/bg-search.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  &-bod {
    background-color: #ccc;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      top: 16px;
      left: 16px;
      width: 82px;
      height: 82px;
      background-image: url(../assets/book-day-badge.svg);
      background-repeat: no-repeat;
    }
  }

  &-question {
    background-image: url(../assets/bg-question.svg);
    background-repeat: no-repeat;
    background-position: 87% bottom;
  }

  &-percentage {
    background-image: url(../assets/bg-percentage.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  &-gift {
    background-image: url(../assets/bg-gift.svg);
    background-repeat: no-repeat;
    background-position: 12% center;
  }  
}

// Sizing for the main content area.

html, body, #root {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

  section {
    margin-bottom: 24px;
  }
}

// Scrollbar

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #397524 rgba(0, 0, 0, 0.4);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: map-get($theme-colors, tertiary);
}

*::-webkit-scrollbar-track:hover {
  background-color: map-get($theme-colors, tertiary);
}

*::-webkit-scrollbar-track:active {
  background-color: map-get($theme-colors, tertiary);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: map-get($theme-colors, primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: map-get($theme-colors, primary);
}

*::-webkit-scrollbar-thumb:active {
  background-color: map-get($theme-colors, primary);
}
